body {
	font-family: Raleway, Serif;
	color: white;
}

a {
	color: orange;
}

/*Pseudo Class*/
a:hover {
	color: black;
	text-decoration: none
}

h1 {
	font-size: 4rem;
	font-weight: bold;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
}

/*Nav Bar Section*/

.navbar {
	padding-top: 30px;
}
.nav-item {
	padding-left: 20px;
}

/*Header Section*/

#header-section {
	background-color: #3f72af;
}

.left-col {
	/*margin: auto 0;*/
	padding-top: 80px;	
}

.right-col {
	padding: 50px 0 50px 50px;
}

.developer-image {
	width: 80%
}

.header-btn {
	margin-top: 20px;
}


/*Profile Section*/

#profile-section {
	color: black;	
	background-color: #f9f7f7;
}

.main-box {
	background-color: white;
	padding: 5% 14%;
}

.profile-header {
	text-align: center;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.profile-box {				
	flex-basis: 300px;
	flex-grow: 1;
	padding: 40px 60px;
}

.profile-pic {
	border-radius: 50%;
}


/*Project Section*/

#project-section {
	background-color:#112d4e;
	padding: 5% 0%;
}

.project-header {
	text-align: center;
}

/*.card {
	width: 18rem;
}
*/

/*Contact Section*/

#contact-section {
	background-color: #f9f7f7;
	color: black;
	padding: 5% 10%;
}

.contact-header {
	text-align: center;	
}


/*Footer Section*/


.footer-main {
	background-color: #3f72af;	
	color: black;
  	bottom:0;
  	width:100%;
  	text-align: center;
  	padding:5% 10%;
}




@media only screen and (max-width: 1300px) {
  .box-2 {
  	order: -1;  	
  }
}



/*.footer {
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}*/
